body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

nav ul li {
    margin-left: 30px; /* 항목 사이 간격 조정 */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
    margin-top: 100px;
}

section {
    margin: 2rem 0;
}

section#about, section#projects, section#guestbook {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.center .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem auto;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.project-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-info {
    width: 100%;
}

.project-info h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.project-info p {
    margin: 0;
    margin-bottom: 0.5rem;
}

.project-info a {
    color: #007bff;
    text-decoration: none;
}

.project-info a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}

.guestbook-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.guestbook-form-container,
.guestbook-entries-container {
    width: 48%;
}

#guestbook-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guestbook-form input,
#guestbook-form textarea {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#guestbook-form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#guestbook-form button:hover {
    background-color: #0056b3;
}

#guestbook-entries {
    margin-top: 2rem;
    max-height: 400px;
    overflow-y: auto; /* 세로 스크롤 */
    text-align: left; /* 왼쪽 정렬 */
}

.guestbook-entry {
    background: #f9f9f9;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

.guestbook-entry .entry-text {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guestbook-entry .entry-text p {
    margin: 0 1rem;
}

.guestbook-entry .delete-button {
    margin-left: 10px;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
}

.guestbook-entry .delete-button:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .project-item {
        flex: 0 0 100%;
    }

    .guestbook-form-container,
    .guestbook-entries-container {
        width: 100%;
    }
}
